.login-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: calc(100vh - var(--nav-height));
}

.login-body .logo {
  width: 200px;
}

.login-body input {
  width: calc(100% - 20px);
  border: none;
  border-radius: 500px;
  margin: 10px;
  padding: 10px 20px;
}

.login-body .login-form-div {
  width: min(400px, 90vw);
  padding: 24px;
  background-color: var(--box-b-color);
  box-shadow: var(--box-shadow);
  /* backdrop-filter: blur(2px); */
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
/* 
.login-body .login-form-div{
    width: min(400px, 90vw);
    padding: 24px;
    background-color: #beddff;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
} */

.login-body .loading {
  width: min(400px, 90vw);
  height: 100%;
  padding: 24px;
  background-color: #beddff;
  border-radius: 35px;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
}

.login-body .inputs {
  width: 100%;
}

.login-body .email-auth-buttons {
  width: 100%;
}

.login-body button {
  background-color: #f8fcff;
}

.login-body .login-button,
.signup-button {
  width: calc(50% - 16px);
}

.login-body .google-button,
.login-body .resend-button {
  width: calc(100% - 16px);
}

.login-body .message {
  color: #d32525;
  font-size: 16px;
}

.login-body .skip-auth {
  color: #66788e;
  font-size: 16px;
  cursor: pointer;
}

@media (hover: hover) {
  button:hover {
    background-color: rgb(0, 145, 255);
    color: white;
    transition: 200ms ease-in-out all;
  }
}
