:root{
    --cube-dimension: 40px;
    --yellow:#dcdc02;
    /* --yellow:#e9e900; */
    --red:red;
    --purple:#c7a7ff;
    --blue:blue;
    --green:green;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px;
    height: 95vh;
    background-color: #defff2;
}
/* 
.ludo-board-container {
    border: 2px solid black;
} */

.ludo-board-container .board-cover {
    width: calc(var(--cube-dimension) * 15);
    /* height: 50px; */
    /* background-color: #f6fa7a; */
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.ludo-board-container .board-cover .players-details {
    width: calc(var(--cube-dimension) * 6);
    /* height: 100%; */
    /* background-color: #c7a7ff; */
    /* align-items: center; */
    justify-content: center;
}


.ludo-board{
    width: calc(var(--cube-dimension) * 15);
    height: calc(var(--cube-dimension) * 15);
    display: grid;
    grid-template-columns: 6fr 3fr 6fr;
    grid-template-rows: 6fr 3fr 6fr;
    
}

.cube-container{
    display: flex;
    flex-wrap: wrap;
}



.cube-container-top{
    height: calc(var(--cube-dimension) * 6);
    flex-direction: column;

}

.cube-container-left{
    height: calc(var(--cube-dimension) * 3);
    rotate: x 180deg;

}

.cube-container-right{
    height: calc(var(--cube-dimension) * 3);
    rotate: y 180deg;
}

.cube-container-down{
    height: calc(var(--cube-dimension) * 6);
    flex-direction: column;
    rotate: 180deg;
}



.home-cube{
    width: calc(var(--cube-dimension) * 3);
    height: calc(var(--cube-dimension) * 3);
    border: 1px solid black;

}

.cube{
    width: var(--cube-dimension);
    height: var(--cube-dimension);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
/* 
.cube img{
    position:relative;
    top: 1px;
    left: 1px;
} */

.pawn{
    transition: transform 0.4s;
    position: absolute;
    width: 40px;
    height: 40px;
}

.locator{
    /* position: absolute; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;

}

.red-locator {
    background-image: url("/public/location.svg");
}

.yellow-locator {
    background-image: url("/public/yellowLocator.svg");
}

.big-cube{
    width: calc(var(--cube-dimension) * 6);
    height: calc(var(--cube-dimension) * 6);
    background-color: white;
    border: 40px solid;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.big-cube .big-cube-circle{
    margin: 15px;
    border-radius: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.b-red{
    background-color: var(--red);
}

.b-yellow{
    background-color: var(--yellow);

}

.b-green{
    background-color: var(--green);

}

.b-purple{
    background-color: var(--purple);
}

.b-blue{
    background-color: var(--blue);
}

.b-white{
    background-color: white;
}

.b-black{
    background-color: black;
}

.star {
    background-image: url("/public/star.svg");
    /* background-size: 100%; */
    background-repeat: no-repeat;
    background-position: center;
}


.dice {
    width: 50px;
    height: 50px;
    background-color: #298560;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #defff2;
    border-radius: 4px;
}


